.header-style {
  background-color: black;
  color: cornflowerblue;
  font-size: 55px;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 70px;
  margin: 0px auto;
  /* text-align: center; */
}
a{
  text-decoration: none;
  transform: scale(1);
}
a:hover{
background-color: tomato;
color: white;
text-decoration: none !important;

}

.start-new-game {
  background-color: tomato;
}
/* .game-time, .{
  background-color: palegreen;
} */

.join-existing-game {
  background-color: goldenrod;
}
.app-footer {
  margin-top: 1%;
  background-color: black;
  color: cornflowerblue;
  font-weight: 1000;
  width: 100%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  background: orange;
  height: auto;
  width: auto;
}
.jumbotron {
  background: turquoise;
}
.home-box {
  margin-top: 5%;
}

.start-game-options {
  padding: 7.5%;
  margin: 3%;
}

/****** Game Styles   *****/

.game {
  display: flex;
  width: 450px;
  flex-wrap: wrap;
  text-align: center;
  margin: 15% 15%;

}

.side-nav-head {
  color: saddlebrown;
  border-top: 1px black solid;
  margin-bottom: 15%;
  font-size: 25px;
}
.side-nav-content {
  color: rgb(16, 19, 6);
  border-bottom: 1px black solid;
  margin-bottom: 15%;
  font-size: 25px;
}
.side-nav-body {
  color: teal;
  /* border-bottom: 1px black dotted; */
  font-size: 35px;
  padding: 10%;
}
#turn {
  animation: color-change 1s infinite;
  margin-top: 35%;
  margin-bottom: 20%;
  /* margin-left: 1%;
  margin-right: 1%;
  border: 1px solid blue; */
}
@keyframes color-change {
  0% {
    color: yellow;
  }
  50% {
    color: blue;
  }
  100% {
    color: yellow;
  }
}
#gameOver {
  animation: color-change-again 1s infinite;
  margin-top: 20%;
  margin-bottom: 20%;
}
@keyframes color-change-again {
  0% {
    color: green;
    transform: scale(1.5);
  }
  50% {
    color: yellow;
    transform: scale(1);
  }
  100% {
    color: green;
    transform: scale(1.5);
  }
}
.square {
  width: 150px;
  height: 120px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  font-size: 45px;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.square:hover {
  background: darkcyan;
  color: crimson;
}
.square:nth-child(7),
.square:nth-child(8),
.square:nth-child(9) {
  border-bottom: 0;
}

.square:nth-child(1),
.square:nth-child(2),
.square:nth-child(3) {
  border-top: 0;
}

.square:nth-child(3n + 1) {
  border-left: 0;
}

.square:nth-child(3n) {
  border-right: 0;
}

#side-nav-left,
#side-nav-right {
  /* border-right: black 2px solid; */
  /* background-color: pink; */
  width: 90%;

  padding: 5%;
}

.loading-cust {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loading-cust:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));

  background: -webkit-radial-gradient(
    rgba(20, 20, 20, 0.8),
    rgba(0, 0, 0, 0.8)
  );
}

.loading-cust:not(:required) {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading-cust:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(231, 133, 21, 0.75) 1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
    rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(236, 130, 8, 0.75) 1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
    rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

label{
  font-size: 16px;
  /* color: black; */
  margin: 2%;
}
h6{
  font-size: 15px;
}
h4{
  margin-top: 20%;
}

